<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="eventHubName" value="capturetest" />
    <add key="eventHubNamespace" value="archivetesteh"/>
    <add key="storageAccountName" value="DefaultEndpointsProtocol=https;AccountName=scratchwasb;AccountKey=DGF9hUIGDzHc1wwFte85gwOuCS8TISrgJpHMoye87E/oTJ7RgoH3dZfxr6VV7VtK7Iahqr/W+AdnH6Glevjz8g==;EndpointSuffix=core.windows.net" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>